@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1px;
}

.side-wrapper{
    display: flex;
}

.side-bar{
    width: 15%;
    height: 1500px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
}

.right-wrapper{
    width: 100%;
    padding: 0 0 0 15%;
    display: flex;
    flex-direction: column;
}

.welcome-div{
    background-color: rgb(38, 136, 38);
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
    width: 100%;
    height: 50px;
}

.topic{
    padding: 10px 30px;
}

p{
    padding: 0 10px 10px 30px;
    line-height: 25px;
}

.image{
    width: 75%;
    justify-items: center;
}

ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 80%;
}

li{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin: 10px 0;
    padding: 20px 0;
    font-size: 20px;
    background-color: brown;
}

li:hover{
    cursor: pointer;
    background-color: aqua;
}

.hovering-div{
    visibility: hidden;
    position: fixed;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: gray;
    margin: 160px 15%;
}

.hovering-div + .courses{
    visibility: visible;
}

footer{
    background-color: gray;
    height: 30px;
    letter-spacing: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}